<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="server=localhost;database=aze_dev;uid=root;pwd=root;" providerName="MySql.Data.MySqlClient" />
    <add name="OfflineConnection" connectionString="Data Source=arbeitszeiterfassung_dev.db" providerName="System.Data.SQLite" />
  </connectionStrings>
  <appSettings>
    <add key="Environment" value="Development" />
  </appSettings>
</configuration>
