<!--
Titel: App.config
Version: 1.1
Letzte Aktualisierung: 26.06.2025
Autor: Tanja Trella
Status: In Bearbeitung
Datei: /Arbeitszeiterfassung.UI/App.config
Beschreibung: Basiskonfiguration der Anwendung mit Platzhaltern fuer ConnectionStrings und Einstellungen
-->
<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="server=SERVER;database=DB;uid=USER;pwd=PASSWORD;" providerName="MySql.Data.MySqlClient" />
    <add name="OfflineConnection" connectionString="Data Source=arbeitszeiterfassung.db" providerName="System.Data.SQLite" />
  </connectionStrings>
  <appSettings>
    <add key="Environment" value="Development" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
