<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="server=prodserver;database=aze;uid=aze;pwd=Start.321;" providerName="MySql.Data.MySqlClient" />
    <add name="OfflineConnection" connectionString="Data Source=arbeitszeiterfassung.db" providerName="System.Data.SQLite" />
  </connectionStrings>
  <appSettings>
    <add key="Environment" value="Production" />
  </appSettings>
</configuration>
